@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&family=Viga&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f0f0f;
  color: white;
}

.Hidden {
  opacity: 0.25;
  transition: all 2s;
}

.Show {
  opacity: 1;
}

.hiddenHero {
  opacity: 0.25;
  transition: all 2s;
  transform: translateY(-50px);
}

.showHero {
  opacity: 1;
  transform: translateY(0px);
}

.hiddenAbout {
  opacity: 0.25;
  transition: all 2s;
  transform: translateY(-100px);
}
.showAbout {
  opacity: 1;
  transform: translateY(0px);
}

.hiddenAbout #right {
  transform: translateX(100px);
  transition: all 2s;
}

.showAbout #right {
  transform: translateX(0px);
  transition: all 2s;
}

.hiddenAbout #left {
  transform: translateX(-100px);
  transition: all 2s;
}

.showAbout #left {
  transform: translateX(0px);
  transition: all 2s;
}

.hiddenProject {
  filter: blur(10px);
  opacity: 0;
  transform: translateX(-50px);
  transition: all 2s;
}

.showProject {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
}

.hiddenSkill {
  filter: blur(10px);
  opacity: 0;
  transform: translateX(-50px);
  transition: all 2s;
  z-index: 0;
}

.showSkill {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
}

.hiddenContact {
  filter: blur(10px);
  opacity: 0;
  transform: translateY(50px);
  transition: all 2s;
}

.showContact {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0px);
}

.hiddenContact #right {
  transform: translateX(100px);
  transition: all 2s;
}

.showContact #right {
  transform: translateX(0px);
}

.hiddenContact #left {
  transform: translateX(-100px);
  transition: all 8s;
}

.showContact #left {
  transform: translateX(0px);
}
/* add different delay for all elements with .showSkill class */
.showSkill:nth-child(1) {
  transition-delay: 0.2s;
}
.showSkill:nth-child(2) {
  transition-delay: 0.1s;
}
.showSkill:nth-child(3) {
  transition-delay: 0.4s;
}
.showSkill:nth-child(4) {
  transition-delay: 0.3s;
}
.showSkill:nth-child(5) {
  transition-delay: 0.6s;
}
.showSkill:nth-child(6) {
  transition-delay: 0.5s;
}
.showSkill:nth-child(7) {
  transition-delay: 0.8s;
}
.showSkill:nth-child(8) {
  transition-delay: 0.7s;
}
.showSkill:nth-child(9) {
  transition-delay: 1s;
}
.showSkill:nth-child(10) {
  transition-delay: 0.9s;
}

/* make the logo cover the full screen and then show other things */
@keyframes logo {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

#logo {
  width: 100%;

  animation: logo 1s ease-in;
}
